In [3]:
import pandas as pd
from bs4 import  BeautifulSoup as bs
import requests
import re

In [4]:
def data_scraping(category,type):
  z=[]
  x=[]
  for i in range(1,51):
    url=f'https://www.jumia.com.ng/{category}/?page={i}#catalog-listing'
    result=requests.get(url).content
    jum=bs(result,'lxml')
    item_name=jum.find_all(f'{type}',class_='name')
    item_price=jum.find_all('div',class_='prc')
    for c in item_name:
      z.append(c.text)
    for d in item_price:
      x.append(d.text)
  return z,x

## Health and Beauty

In [5]:
health_item,health_item_price=data_scraping('health-beauty','h3')

In [6]:
health=pd.DataFrame({'Item':health_item,'category':'health','Price':health_item_price[:len(health_item)]})
health

                                                   Item category     Price
0     NIVEA Perfect & Radiant Body Lotion For Women ...   health  ₦ 21,420
1     Dettol Antibacterial Bathing Soap - Instant Co...   health  ₦ 24,820
2     Axe Twin Pack Adrenalin Mandarin & Sandalwood ...   health  ₦ 13,475
3      L'Oréal Professionnel Absolut Repair Conditioner   health   ₦ 5,615
4     NIVEA Dry Impact Roll-on For Men 72h- 50ml (Pa...   health  ₦ 10,200
...                                                 ...      ...       ...
1995  Super Active Black Facial Mask & Anti-Ageing V...   health     ₦ 949
1996  Orthopedic Orthotic Arch Support Insole Flat F...   health   ₦ 1,881
1997  Madam Ranee Herbal Soap 160g For Acne, Pimples...   health   ₦ 6,175
1998  Digital Electrical Acupuncture Slimming Body M...   health   ₦ 3,799
1999                          Lady Stella Wand Vibrator   health   ₦ 4,654

[2000 rows x 3 columns]

## Groceries

In [7]:
groceries_item,groceries_item_price=data_scraping('groceries','h3')

In [8]:
groceries=pd.DataFrame({'Item':groceries_item,'category':'grocery','Price':groceries_item_price[:len(groceries_item)]})
groceries

                                                   Item category     Price
0                          Malta Guinness Can 330ml x24  grocery   ₦ 9,900
1                            Jameson Irish Whiskey 70cl  grocery   ₦ 5,000
2                 Martell Cognac Blue Swift 75cl (VSOP)  grocery  ₦ 39,999
3       Smirnoff Intense Chocolate Flavored Vodka 750ml  grocery   ₦ 5,070
4                         Johnnie Walker Red Label 70cl  grocery  ₦ 22,905
...                                                 ...      ...       ...
1995                           Lunch Box Food Container  grocery  ₦ 22,900
1996  50mm Magnetic Metal Herb Weed Grinder 4 Part  ...  grocery   ₦ 7,999
1997  Watkins Organic White Cheddar Popcorn Seasonin...  grocery  ₦ 16,000
1998  Practical Bakelite Made Smoking Pipe Weed Pipe...  grocery   ₦ 5,299
1999  12pcs Instant Washing Machine Cleaning Tablets...  grocery   ₦ 3,800

[2000 rows x 3 columns]

## Home Office

In [9]:
home_office_item,home_office_item_price=data_scraping('home-office','h3')

In [10]:
home_office=pd.DataFrame({'Item':home_office_item,'category':'home office','Price':home_office_item_price[:len(home_office_item)]})
home_office

,Item,category,Price
0,Silver Crest 2 Litres German Industrial Blende...,home office,"₦ 304,500"
1,Binatone 1.5 Litres (BLG-412) Blender With Gri...,home office,"₦ 257,250"
2,Midea 173 Litres Double Door Refrigerator (HD-...,home office,"₦ 309,750"
3,Midea 142 Litres Chest Freezer (HS-186CN) - Si...,home office,"₦ 162,750"
4,Skyrun 4 Burners（4+0）Gas Cooker (GCS-4G/X) -Black,home office,"₦ 38,500"
...,...,...,...
1995,6pcs Qianli Refined Series Glass Cup,home office,"₦ 173,849"
1996,Aopai Sticky Notes - 6 In 1 Pack,home office,"₦ 4,370"
1997,Fancy Notepads Hardcover Jumia Notebooks Journ...,home office,"₦ 9,405"
1998,Sharp Cutting Scissors,home office,"₦ 43,320"
1999,Unique 6 Compartment Kitchen/office Drawer Sto...,home office,"₦ 67,650"

## Phones Tablets

In [11]:
phones_tablets_item,phones_tablets_item_price=data_scraping('phones-tablets','h3')

In [12]:
phones_tablets=pd.DataFrame({'Item':phones_tablets_item,'category':'phones tablets','Price':phones_tablets_item_price[:len(phones_tablets_item)]})
phones_tablets

,Item,category,Price
0,Oraimo FreePods Lite True Wireless Earbuds + F...,phones tablets,"₦ 99,000"
1,Ace Elec Power Banks 20000 MAh Utra Slim Porta...,phones tablets,"₦ 114,900"
2,"Tecno Spark 10c 6.6"" 4GB RAM/128GB ROM Android...",phones tablets,"₦ 146,170"
3,"Tecno Camon 20 6.67"" 8GB/256GB Android 13 -Gla...",phones tablets,"₦ 68,186"
4,"FreeYond F9,2GB+64GB,6.52"" Smartphone,4G,5000m...",phones tablets,"₦ 196,500"
...,...,...,...
1995,Car Fast Charger 20W Type C For IPhone 14 13 1...,phones tablets,"₦ 2,461"
1996,Luxury Z59 ULTRA NFC SMARTWATCH +FREE I12 EARB...,phones tablets,"₦ 11,000"
1997,Otter Box DEFENDER SERIES Case For IPhone 12 P...,phones tablets,"₦ 6,958"
1998,QUBO X668- 6.53 Tempered Glass Screen Protector,phones tablets,"₦ 16,890"
1999,Samsung Galaxy S23 Plus Silicone Back Case-Black,phones tablets,"₦ 2,841"

## Appliance

In [13]:
appliance_item,appliances_item_price=data_scraping('mlp-appliances','div')

In [14]:
appliance=pd.DataFrame({'Item':appliance_item,'category':'appliance','Price':appliances_item_price[:len(appliance_item)]})
appliance

                                                   Item   category      Price
0     Silver Crest 2 Litres German Industrial Blende...  appliance   ₦ 19,800
1        Skyrun 46L Single Door  Fridge BCD-50MY-Golden  appliance   ₦ 72,990
2      Midea 85 Litres Refrigerator (HS-112L) -  Silver  appliance   ₦ 98,700
3     Aeon 1HP Split Air Conditioner (9000Btu) - R41...  appliance  ₦ 202,125
4     Aeon 250 Litres Chest Freezer (ACF250GK) - Sil...  appliance  ₦ 187,900
...                                                 ...        ...        ...
7195       Nexus Chest Freezer 250L (NX-315HE) - Silver  appliance  ₦ 103,375
7196  Saisho Sandwich Maker Toaster S-609 2F(6) - White  appliance   ₦ 81,900
7197  Midea 190 Litres Single Door Refrigerator (HS ...  appliance  ₦ 200,000
7198  Nexus 185 Litres Double Door Refrigerator (NX-...  appliance  ₦ 190,575
7199          Polystar Electric Dry Iron (PV-DST1200BW)  appliance   ₦ 87,150

[7200 rows x 3 columns]

## Computing

In [15]:
computing_item,computing_item_price=data_scraping('computing','h3')

In [16]:
computing=pd.DataFrame({'Item':computing_item,'category':'computing','Price':computing_item_price[:len(computing_item)]})
computing

,Item,category,Price
0,Eaget Pen Flash Drive 3.0 64GB - Metal OTG Mic...,computing,"₦ 3,550,000"
1,MTN 4G LTE MiFi - MF935 + Free 30GB Data Bonus...,computing,"₦ 4,390"
2,HYSLGjt 128GB OTG 3 In 1 Usb Flash Drive Type C,computing,"₦ 3,450"
3,10 Steps Laptop Stand,computing,"₦ 7,350"
4,HYSLGjt 128GB Metal OTG Usb Flash Drive Waterp...,computing,"₦ 3,429"
...,...,...,...
1995,Direct 650 HP 2000 HP 250 G1 CQ42 / CQ62 Lapt...,computing,"₦ 5,900"
1996,78A Toner Cartridge Black,computing,"₦ 7,600"
1997,"Viboton 2.4G Wireless Flip Pen ,Powerpoint Rem...",computing,"₦ 205,000"
1998,Logitech G102 Gaming Mouse 80000DPI RGB Mouse,computing,"₦ 22,890"
1999,Micro USB To USB Adapter For IPhones (charger ...,computing,"₦ 30,000"

## Electronics

In [17]:
electronics_item,electronics_item_price=data_scraping('electronics','h3')

In [18]:
electronics=pd.DataFrame({'Item':electronics_item,'category':'electronics','Price':electronics_item_price[:len(electronics_item)]})
electronics

,Item,category,Price
0,Royal 32 Inches LED TV (RTV32F7J) + 1 Year War...,electronics,"₦ 1,614"
1,"Bruhm 32"" Inches LED TV (BTF-32AN) + Free Wall...",electronics,"₦ 80,813"
2,Hikers 32'' Inches Frameless HD LED TV-Black,electronics,"₦ 3,000"
3,Hisense 43 Inches 4K LED Smart TV (43A6H) - Bl...,electronics,"₦ 37,500"
4,"itel 32"" Inches HD TV (A3240GE) - Black + 1 Ye...",electronics,"₦ 176,040"
...,...,...,...
1995,SUPER QUALITY 3.5mm Aux Male To Male Stereo Au...,electronics,"₦ 1,054"
1996,Celebrat A18 High Quality Noise Cancellation H...,electronics,"₦ 6,000"
1997,"Amani 55""INCHES AMANI SMART 4K TV NEWLY DESIGN...",electronics,"₦ 10,200"
1998,Universal Mobile Phone 0.45X Wide Angle 12.5X ...,electronics,"₦ 15,000"
1999,G65L Series 6 White Double Strap Smart Watch,electronics,"₦ 265,500"

## Fashion

In [19]:
fashion_item,fashion_item_price=data_scraping('category-fashion-by-jumia','h3')

In [20]:
fashion=pd.DataFrame({'Item':fashion_item,'category':'fashion','Price':fashion_item_price[:len(fashion_item)]})
fashion

,Item,category,Price
0,ADIDAS Daily Ii Backpack Unisex,fashion,"₦ 26,825"
1,ADIDAS Core Sneakers Advantage Base,fashion,"₦ 26,825"
2,ADIDAS Core Sneakers Advantage Base,fashion,"₦ 22,958"
3,ADIDAS Advantage Lifestyle Court Lace Shoes,fashion,"₦ 39,362"
4,ADIDAS Adilette Aqua Slides Unisex,fashion,"₦ 4,880"
...,...,...,...
1995,Paisley Design Corduroy Jacket - Black,fashion,"₦ 6,929 - ₦ 7,599"
1996,Light-Weight Fur Soft Unisex Clogs For Outdoor...,fashion,"₦ 5,220"
1997,VITIKE Fashion Latest Women Sneakers -Black,fashion,"₦ 13,205"
1998,Unisex Home Indoor Slippers,fashion,"₦ 34,727"
1999,Two Pieces Long Sleeve Baby Suit Wear -multi,fashion,"₦ 4,560 - ₦ 15,675"

## Baby Products

In [21]:
baby_products_item,baby_products_item_price=data_scraping('baby-products','h3')

In [22]:
baby_products=pd.DataFrame({'Item':baby_products_item,'category':'baby product','Price':baby_products_item_price[:len(baby_products_item)]})
baby_products

,Item,category,Price
0,VEJARO BC003 Infant Baby Clothes Sets Dinosaur...,baby product,"₦ 68,000"
1,VEJARO BC002 Infant Baby Clothes Sets Pattern ...,baby product,"₦ 62,000"
2,VEJARO BC004 Infant Baby Clothes Sets Pattern ...,baby product,"₦ 6,325"
3,Pears Baby Oil 200ml,baby product,"₦ 62,000"
4,Infant Baby Boys Girls Clothes Sets-van,baby product,"₦ 4,835"
...,...,...,...
1995,Hudson Colourful Baby HeadBands - 5 Pack,baby product,"₦ 3,800"
1996,Huggies Pure Baby Wipes 336 (6 X 56 ),baby product,"₦ 7,000"
1997,Amlactin Rapid Relief Restoring Lotion+Ceramid...,baby product,"₦ 9,000"
1998,Dunnes Baby Girls Cotton Sleepsuits Set - 3 Pack,baby product,"₦ 29,999"
1999,Safety Car Straps For Babies,baby product,"₦ 10,300"

## Video Games

In [23]:
video_games_item,video_games_item_price=data_scraping('video-games','h3')

In [24]:
video_game=pd.DataFrame({'Item':video_games_item,'category':'Video game','Price':video_games_item_price[:len(video_games_item)]})
video_game

                                                   Item    category      Price
0         Sony PlayStation 5 Console - Standard Edition  Video game  ₦ 580,000
1     Sony PS4 Wireless Controller PlayStation 4 PS4...  Video game   ₦ 39,000
2     Sony PS4 Controller Wireless PlayStation 4 PS4...  Video game  ₦ 295,000
3     Sony Ps4 Controllers  Wireless Game Playstatio...  Video game  ₦ 364,000
4     Sony Ps4 Controllers ,Wireless Games Pad ,4 Du...  Video game    ₦ 4,300
...                                                 ...         ...        ...
1995  UBISOFT Assassin's Creed Origins + Odyssey Dou...  Video game    ₦ 7,000
1996  Wired Gaming Mouse 6 Button 3200 DPI Optical U...  Video game   ₦ 15,000
1997            Lego Star Wars: The Force Awakens (PS3)  Video game  ₦ 186,950
1998         Wired Controller Pad For Xbox 360  - Black  Video game    ₦ 9,000
1999         UBISOFT Ps4 - Watch Dogs 2 - PlayStation 4  Video game    ₦ 4,543

[2000 rows x 3 columns]

In [51]:
jumia_items=pd.concat([video_game,baby_products,fashion,electronics,computing,appliance,phones_tablets,home_office])
jumia_items.sample(10)

,Item,category,Price
696,Binatone 4 Litres (KM-1000) Stand Mixer & Yam ...,home office,"₦ 210,001"
1797,"Nexus 43"" Frameless FHD TV (F620B (SA)",appliance,"₦ 199,800"
6110,HAN RIVER 15 Litres Electric Oven,appliance,"₦ 57,225"
1982,OnePlus OnePlus 8 5G Screen Glass Protector-Fu...,phones tablets,"₦ 6,650"
1280,Sneakers Casual Men's Shoes-Black And Blue,fashion,"₦ 17,755"
1777,2K Sports MAFIA TRIOLOGY PS4,Video game,"₦ 3,000"
943,Xbox One Fifa 23 Standard Edition,Video game,"₦ 19,999"
1773,Rechargeable Mini Juicer Smoothie Maker/Blender,home office,"₦ 21,447"
1385,Hp DeskJet 2710 All-in-One Printer With Wirele...,computing,"₦ 8,490"
923,6.3 Mm Stereo Plug To 3.5 Mm Headphone Jack Ad...,electronics,"₦ 2,600"

In [52]:
jumia_items[['p','c']]=jumia_items['Price'].astype(str).str.split('-',expand=True)
jumia_items['Price']=jumia_items['p'].astype(str).str.strip('₦')
jumia_items['Price']=jumia_items['Price'].astype(str).str.replace(',','')
jumia_items['Price']=jumia_items['Price'].astype(int)
jumia_items.head()

,Item,category,Price,p,c
0,Sony PlayStation 5 Console - Standard Edition,Video game,580000,"₦ 580,000",None
1,Sony PS4 Wireless Controller PlayStation 4 PS4...,Video game,39000,"₦ 39,000",None
2,Sony PS4 Controller Wireless PlayStation 4 PS4...,Video game,295000,"₦ 295,000",None
3,Sony Ps4 Controllers Wireless Game Playstatio...,Video game,364000,"₦ 364,000",None
4,"Sony Ps4 Controllers ,Wireless Games Pad ,4 Du...",Video game,4300,"₦ 4,300",None

In [53]:
jumia_items.drop(['p','c'],inplace=True,axis=1)

In [54]:
jumia_items.head()

                                                Item    category   Price
0      Sony PlayStation 5 Console - Standard Edition  Video game  580000
1  Sony PS4 Wireless Controller PlayStation 4 PS4...  Video game   39000
2  Sony PS4 Controller Wireless PlayStation 4 PS4...  Video game  295000
3  Sony Ps4 Controllers  Wireless Game Playstatio...  Video game  364000
4  Sony Ps4 Controllers ,Wireless Games Pad ,4 Du...  Video game    4300

In [68]:
jumia_items['category'].unique()

array(['Video game', 'baby product', 'fashion', 'electronics',
       'computing', 'appliance', 'phones tablets', 'home office'],
      dtype=object)

In [71]:
for i in jumia_items['category'].unique():
    jumia_items.query(f'category=="{i}"').to_csv(f'{i}.csv',index=False)